# Copy this file to .env and fill in your values
# NEVER commit .env to git

AQICN_API_KEY=
OPENWEATHER_API_KEY=
HOPSWORKS_API_KEY=
HOPSWORKS_PROJECT=aqi_predictor

MLFLOW_TRACKING_URI=mlruns

DEFAULT_CITY=karachi
DEFAULT_LAT=24.8607
DEFAULT_LON=67.0011

BACKFILL_DAYS=180
